# The IPv4 CIDR block specifies the range of IPv4 addresses that the server can use for routing and networking.
ipv4_cidr = "{{ .IPv4CIDR }}"

# The IPv6 CIDR block specifies the range of IPv6 addresses that the server can use for routing and networking.
ipv6_cidr = "{{ .IPv6CIDR }}"

# The network interface that the server will use for establishing connections and handling traffic.
interface = "{{ .Interface }}"

# The port number that the server will listen on for incoming connections. This is typically a UDP port for WireGuard.
listen_port = {{ .ListenPort }}

# The outbound network interface used for Network Address Translation (NAT) and routing outgoing traffic.
out_interface = "{{ .OutInterface }}"

# The private key for WireGuard encryption. This key is used to secure the server's communication.
private_key = "{{ .PrivateKey }}"
